.navbar {
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.957);
  padding: 20px 16px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.inactive {
  text-decoration: none;
}

.active {
  color: #6666dc;
  font-weight: bold;
  text-decoration: none;
}

.login {
  background-color: #eee;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
}

.login:hover {
  background-color: #6666dc;
  cursor: pointer;
}
